
/* Global Styles */

* {
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;

    --highlight-color: hsl(176, 50%, 47%);
    --highlight-color-active: hsl(176, 72%, 28%);

    --primary-text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 48%);
}

body {
    font-size: 16px;
    background-color: #f0f0f0;
}

h1,
h2,
h3,
em {
    font-weight: 700;
    color: var(--primary-text-color);
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

em {
    font-size: 2em;
    font-style: normal;
}

div {
    color: var(--secondary-text-color);
}

section {
    border-radius: .5em;
    background-color: white;
    border: 1px solid var(--secondary-text-color);
    margin: .5em;
}

p {
    color: var(--secondary-text-color);
    line-height: 1.5em;
}

button {
    font-size: 16px;
    font-weight: 700;
    padding: 1em;

    background-color: var(--highlight-color);
    color: white;
    border-radius: 100em;
    border: none;
}

/*  */

.inactive {
    display: none;
}

.tier-requirement {
    color: var(--highlight-color);
}

.out-of-stock {
    opacity: .5;
}

.no-stock-btn {
    background-color: var(--secondary-text-color);
}