
/* Global Styles */

* {
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;

    --highlight-color: hsl(176, 50%, 47%);
    --highlight-color-active: hsl(176, 72%, 28%);

    --primary-text-color: hsl(0, 0%, 0%);
    --secondary-text-color: hsl(0, 0%, 48%);
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #f0f0f0;
}

nav {
    background-color: white;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

h1,
h2,
h3,
em {
    font-weight: 700;
    color: var(--primary-text-color);
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

em {
    font-size: 2em;
    font-style: normal;
}

div {
    color: var(--secondary-text-color);
}

section {
    border-radius: .5em;
    background-color: white;
    border: 1px solid var(--secondary-text-color);
    margin: .5em;
}

p {
    color: var(--secondary-text-color);
    line-height: 1.5em;
}

button {
    font-size: 16px;
    font-weight: 700;
    padding: 1em;

    background-color: var(--highlight-color);
    color: white;
    border-radius: 100em;
    border: none;
}

/*  */
.crowdfund-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  */

.primary-info-wrapper,
.selection-modal,
.success-modal {
    min-width: 10em;
    width: 90%;
    max-width: 46.5em;
    
    display: flex;
    flex-direction: column;
}

.amount-left {
    display: flex;
    align-items: center;
}

/*  */
.item-summary-container {
    padding: 1em;
}

.item-summary-container p{
    text-align: center;
}

.backer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backer-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backer-container em {
    display: block;
}

.about-container .pledge-tier {
    margin: 1.25em;
}

/*  */

.inactive {
    display: none;
}

.tier-requirement {
    color: var(--highlight-color);
}

.out-of-stock {
    opacity: .5;
}

.no-stock-btn {
    background-color: var(--secondary-text-color);
}